@import url(./normalize.css);

/* remove default padding and margin */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(10px, calc(10px + 1vw), 20px);
}

:root{
  --header-bg: #DAD7CD;
  --footer-tabs-bg: #A3B18A;
  --hover-color: #3A5A40;
  --integer: 5px;
}

header{
  padding: calc(5px + 1vw);
  background-color: var(--header-bg);
  border-bottom: var(--hover-color) 10px solid;
}

/* makes image responsive */
header img{
  max-inline-size: 100%;
}

ul[role="navigation"]{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

a{
  color: white;
}

li{
  border: 1px solid;
  width: 50%;
  text-align: center;
  padding: 5px;
  border-radius: var(--integer);
  background-color: var(--footer-tabs-bg);
}

table{
  width: 100%;
}

table tr td{
  text-align: center;
  padding: 5px;
  background-color: var(--footer-tabs-bg);
}

td:hover, li:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}